# Không gửi Git metadata
.git
.gitignore

# Log
*.log
npm-debug.log*

# Lock file (tuỳ bạn muốn giữ gì)
yarn.lock

# Node modules (nhưng KHÔNG chặn nguyên thư mục apps)
node_modules
**/node_modules

# Next build output
**/.next
**/dist

# Maven build output
**/target
