# Build artifacts
**/target/
**/.next/
**/dist/
**/build/
**/.turbo/

# Dependencies
**/node_modules/

# IDE files
**/.idea/
**/.vscode/
**/.DS_Store

# Environment variables
.env
.env.local
!.env.example

# OS files
*.log
*.tmp
*.bak
*~

# Test coverage
**/coverage/

# Compiled files
**/*.class
**/*.jar
!**/maven-wrapper.jar

.fake