<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="LOG_APP_NAME" value="cva-backend"/>

    <springProfile name="dev,test">
        <appender name="CONSOLE_STRUCTURED" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {"level":"%level","logger":"%logger{36}","thread":"%thread"}
                        </pattern>
                    </pattern>
                    <mdc/>
                    <arguments/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_STRUCTURED"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE_PROD" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {"app":"${LOG_APP_NAME}","level":"%level","logger":"%logger{36}","thread":"%thread"}
                        </pattern>
                    </pattern>
                    <mdc/>
                    <message/>
                    <arguments/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_PROD"/>
        </root>
    </springProfile>

</configuration>
