server:
  port: 8082

spring:
  application:
    name: buyer-backend

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:docker}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:

        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss
    serialization:
      write-dates-as-timestamps: false

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}
