spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: YourStrong(!)Password
    driver-class-name: org.h2.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false

logging:
  level:
    org.hibernate.SQL: DEBUG
